---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ $.Chart.Name }}-cnpg-credentials"
  namespace: {{ .Values.namespace }}
stringData:
  username:  {{ .Values.services.db.secrets.DB_USERNAME | quote  }}
  password:  {{ .Values.services.db.secrets.DB_PASSWORD | quote  }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ $.Chart.Name }}-cnpg-superuser
stringData:
  username: {{ .Values.services.db.secrets.POSTGRES_USER | quote }}
  password: {{ .Values.services.db.secrets.POSTGRES_USER_PASSWORD | quote }}
---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ $.Chart.Name }}-cnpg-migration-credentials"
stringData:
  PGHOST: {{ .Values.services.db.migration.sourceHost | quote }}
  PGPORT: {{ .Values.services.db.migration.sourcePort | quote }}
  PGUSER: {{ .Values.services.db.migration.sourceUser | quote  }}
  PGPASSWORD: {{ .Values.services.db.migration.sourcePassword  | quote }}
  PGDATABASE: {{ .Values.services.db.migration.sourceDatabase | quote  }}
