---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ $.Chart.Name }}-cnpg-credentials"
  namespace: {{ .Values.namespace }}
stringData:
  username:  {{ .Values.services.db.secrets.DB_USERNAME }}
  password:  {{ .Values.services.db.secrets.DB_PASSWORD }}
  ACCESS_KEY_ID: {{ .Values.services.db.secrets.ACCESS_KEY_ID }}
  SECRET_ACCESS_KEY: {{ .Values.services.db.secrets.SECRET_ACCESS_KEY }}
  DEFAULT_REGION: {{ .Values.services.db.secrets.DEFAULT_REGION }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ $.Chart.Name }}-cnpg-superuser
stringData:
  username: {{ .Values.services.db.secrets.POSTGRES_USER }}
  password: {{ .Values.services.db.secrets.POSTGRES_USER_PASSWORD }}
---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ $.Chart.Name }}-cnpg-migration-credentials"
stringData:
  PGHOST: {{ .Values.services.db.migration.sourceHost }}
  PGPORT: {{ .Values.services.db.migration.sourcePort }}
  PGUSER: {{ .Values.services.db.migration.sourceUser }}
  PGPASSWORD: {{ .Values.services.db.migration.sourcePassword }}
  PGDATABASE: {{ .Values.services.db.migration.sourceDatabase }}
