---
kind: Secret
apiVersion: v1
metadata:
  name: "{{ $.Chart.Name }}-cnpg-credentials"
  namespace: {{ .Values.namespace }}
stringData:
  DB_USERNAME:  {{ .Values.services.db.bootstrap.secrets.DB_USERNAME }}
  DB_PASSWORD:  {{ .Values.services.db.bootstrap.secrets.DB_PASSWORD }}
  ACCESS_KEY_ID: {{ .Values.services.db.bootstrap.secrets.ACCESS_KEY_ID }}
  SECRET_ACCESS_KEY: {{ .Values.services.db.bootstrap.secrets.SECRET_ACCESS_KEY }}
  DEFAULT_REGION: {{ .Values.services.db.bootstrap.secrets.DEFAULT_REGION }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ $.Chart.Name }}-cnpg-superuser
stringData:
  username: {{ .Values.services.db.bootstrap.secrets.POSTGRES_USER }}
  password: {{ .Values.services.db.bootstrap.secrets.POSTGRES_USER_PASSWORD }}
