apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ $.Chart.Name }}-app"
  namespace: {{ .Values.namespace }}
  labels:
    app: "{{ $.Chart.Name }}"
    service: "{{ $.Chart.Name }}-app"
spec:
  selector:
    matchLabels:
      app: "{{ $.Chart.Name }}"
      service: "{{ $.Chart.Name }}-app"
  replicas: {{ .Values.services.app.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 75%
      maxUnavailable: 75%
  template:
    metadata:
      labels:
        app: "{{ $.Chart.Name }}"
        service: "{{ $.Chart.Name }}-app"
    spec:
{{/*      imagePullSecrets:*/}}
{{/*        - name: {{ .Values.services.app.image.pullSecret }}*/}}
      containers:
        - name: app
          image: "{{ .Values.services.app.image.repository }}:{{ .Values.services.app.image.tag }}"
          imagePullPolicy: {{ .Values.services.app.image.pullPolicy }}
          command: ["/bin/bash", "-c"]
          args:
            - |
              #!/bin/bash
              set -xe

              until (echo > /dev/tcp/$POSTGRESQL_WEB_DB_HOST/5432) &>/dev/null; do
                sleep 2s
              done

              ls database/migrations/*

              php artisan package:discover

              php artisan view:clear
              php artisan storage:link

              php artisan migrate --force --isolated

              php artisan route:clear;
              php artisan event:cache;
              php artisan optimize

              php artisan octane:start --server=frankenphp  --port=8000 --workers=5 --max-requests=50 --host=0.0.0.0 --admin-port=2019 --log-level=DEBUG --caddyfile=/etc/caddy/Caddyfile
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sleep","5"]
          resources:
            limits:
              memory: 9216Mi
              cpu: "5"
            requests:
              cpu: 120m
              memory: 512Mi
          envFrom:
            - secretRef:
                name: "{{ $.Chart.Name }}-secrets"
          env:
            - name: POSTGRESQL_WEB_DB_HOST
              value: "{{ .Values.services.app.POSTGRESQL_WEB_DB_HOST }}"
            - name: PHP_MEMORY_LIMIT
              value: 8192M
            - name: PHP_OPCACHE_ENABLE
              value: "1"
            - name: PHP_DISABLED_FUNCTION
              value: "exec, passthru, proc_open, proc_close, shell_exec, show_source, symlink, system"
          ports:
            - name: app
              containerPort: 8000
              protocol: TCP
            - name: https
              containerPort: 443
              protocol: TCP
            - name: http3
              containerPort: 443
              protocol: UDP
          volumeMounts:
            - name: "{{ .Values.namespace }}-web-storage-pv"
              mountPath: {{ .Values.services.app.persistence.mountPath }}
              subPath: "storage"
              readOnly: false
            - name: "{{ .Values.namespace }}-web-storage-pv"
              mountPath: /data
              subPath: data
              readOnly: false
            - mountPath: "/etc/web-certs"
              name: ssl-certs
              readOnly: true
          readinessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 10
          livenessProbe:
            exec:
              command:
                - php
                - artisan
                - octane:status
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 15
            successThreshold: 1
            failureThreshold: 10
        - name: ssr
          image: "{{ .Values.services.app.image.repository }}:{{ .Values.services.app.image.tag }}"
          imagePullPolicy: {{ .Values.services.app.image.pullPolicy }}
          command: ["/bin/bash", "-c"]
          args:
            - |
              #!/bin/bash
              set -xe

              php artisan inertia:start-ssr
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sleep","5"]
          resources:
            limits:
              memory: 512Mi
              cpu: "1"
            requests:
              cpu: 20m
              memory: 32Mi
          envFrom:
            - secretRef:
                name: "{{ $.Chart.Name }}-secrets"
          env:
            - name: POSTGRESQL_WEB_DB_HOST
              value: "{{ .Values.services.app.POSTGRESQL_WEB_DB_HOST }}"
            - name: CONTAINER_ROLE
              value: app
            - name: PHP_MEMORY_LIMIT
              value: 8192M
            - name: PHP_OPCACHE_ENABLE
              value: "1"
            - name: PHP_DISABLED_FUNCTION
              value: "exec, passthru, proc_open, proc_close, shell_exec, show_source, symlink, system"
          ports:
            - name: ssr
              containerPort: 13714
              protocol: TCP
          volumeMounts:
            - name: "{{ .Values.namespace }}-web-storage-pv"
              mountPath: {{ .Values.services.app.persistence.mountPath }}
              subPath: "storage"
              readOnly: false
            - name: "{{ .Values.namespace }}-web-storage-pv"
              mountPath: /data
              subPath: data
              readOnly: false
            - mountPath: "/etc/web-certs"
              name: ssl-certs
              readOnly: true
          readinessProbe:
            tcpSocket:
              port: 13714
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 10
          livenessProbe:
            tcpSocket:
              port: 13714
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 15
            successThreshold: 1
            failureThreshold: 10
        - name: sidecar
          image: busybox:1.36
          args:
            - sleep
            - "infinite"
          volumeMounts:
            - name: "{{ .Values.namespace }}-web-storage-pv"
              mountPath: /persistent-volume
              readOnly: false
      volumes:
        - name: "{{ .Values.namespace }}-web-storage-pv"
          persistentVolumeClaim:
            claimName: "{{ .Values.namespace }}-web-storage-pvc"
        - name: ssl-certs
          secret:
            secretName: "wildcard-catalystexplorer-ssl"