kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ .Values.namespace }}-web-storage-pvc"
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{ .Values.services.app.persistence.storageClass | default "longhorn" }}
  resources:
    requests:
      storage: {{ .Values.services.app.persistence.size | default "40Gi" }}
