kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ .Values.namespace }}-meili-pvc"
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.services.meili.persistence.storageClass | default "longhorn" }}
  resources:
    requests:
      storage: {{ .Values.services.meili.persistence.size | default "320Gi" }}
