apiVersion: v1
kind: Service
metadata:
  name: "{{ $.Chart.Name }}-app-service"
  namespace: {{ .Values.namespace }}
  labels:
    service: "{{ $.Chart.Name }}-app"
spec:
  ports:
    - port: 8000
      name: app
      targetPort: app
      protocol: TCP
    - port: 443
      name: https
      targetPort: https
      protocol: TCP
    - port: 443
      name: http3
      targetPort: http3
      protocol: UDP
    - port: 13714
      name: ssr
      targetPort: ssr
      protocol: TCP
  selector:
    service: "{{ $.Chart.Name }}-app"
