@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cx-primary: #2596BE;
    --cx-secondary: #3facd1;
    --cx-dark: #667085;
    --cx-light: #667085;
    --cx-accent: #165A72;

    --cx-blue-eye-color: #B1E2F0;

    --cx-blue-eye-color: #B1E2F0;

    --cx-content: #101828;
    --cx-content-highlight: #CCF4FF;
    --cx-content-light: #EAECF0;
    --cx-content-dark: #101828;
    --cx-intro-gradient-1: #066384;
    --cx-intro-gradient-2:#4FADCE;

    --cx-background: #FFFFFF;
    --cx-background-darker: #F9FBFB;
    --cx-background-lighter: #EAECF0;
    --cx-background-light: #667085;
    --cx-background-gradient-1-light: #1B2230;
    --cx-background-gradient-2-light: #475467;
    --cx-background-gradient-1-dark: #1B2230;
    --cx-background-gradient-2-dark: #475467;

    --cx-border-color: #667085;

    --bg-accent-color: #3FACD1;
    --bg-error-primary-color: #DC2626;
    --bg-error-secondary-color: #EF4444;
    --content-primary-color: #182230;
    --content-hover-color: #101828;
    --content-error-primary-color: #dc2626;
    --content-error-secondary-color: #ef4444;
    --content-success-color: #16a34a;
    --border-primary-color: #182230;
}

[data-theme='dark'] {
    --cx-primary: #2596BE;
    --cx-secondary: #000000;
    --cx-light: #667085;
    --cx-dark: #667085;
    --cx-accent: #8cdefa;
    
    --cx-blue-eye-color: #B1E2F0;

    --cx-content: #FFFFFF;
    --cx-content-highlight: #CCF4FF;
    --cx-content-light: #F2F2F2;
    --cx-content-dark: #FFFFFF;
    --cx-intro-gradient-1: #066384;
    --cx-intro-gradient-2:#4FADCE;
    --cx-background: #101828;
    --cx-background-darker: #000000;
    --cx-background-lighter: #374151;
    --cx-background-light: #ffffff;
    --cx-background-gradient-1-light: #1B2230;
    --cx-background-gradient-2-light: #475467;
    --cx-background-gradient-1-dark: #1B2230;
    --cx-background-gradient-2-dark: #475467;

    --cx-border-color: #667085;
    --bg-secondary-color: #374151;
    --bg-accent-color: #3facd1;
    --bg-error-primary-color: #dc2626;
    --bg-error-secondary-color: #ef4444;
    --content-hover-color: #ffffff;
    --content-error-primary-color: #dc2626;
    --content-error-secondary-color: #ef4444;
    --content-success-color: #4ade80;
    --border-primary-color: #667085;
    --border-secondary-color: #3facd1;
}

[data-theme='voltaire'] {
    --cx-primary: #2596BE;
    --cx-secondary: #000000;
    --cx-light: #667085;
    --cx-dark: #667085;
    --cx-accent: #1F2D3D;

    --cx-blue-eye-color: #B1E2F0;

    --cx-content: #101828;
    --cx-content-highlight: #CCF4FF;
    --cx-content-light: #F2F2F2;
    --cx-content-dark: #111928;
    --cx-intro-gradient-1: #066384;
    --cx-intro-gradient-2:#4FADCE;
    --cx-background: #E9EFFF;
    --cx-background-darker: #0033AD;
    --cx-background-gradient-1-dark: #0033AD;
    --cx-background-gradient-2-dark: #0033AD;
    --cx-background-lighter: #B1E3F1;
    --cx-background-light: #FFFFFF;
    --cx-border-color: #B1E3F1;

    --bg-accent-color: #3facd1;
    --bg-error-primary-color: #dc2626;
    --bg-error-secondary-color: #ef4444;
    --content-hover-color: #ffffff;
    --content-error-primary-color: #dc2626;
    --content-error-secondary-color: #ef4444;
    --content-success-color: #4ade80;
    --border-primary-color: #b1e3f1;
    --border-secondary-color: #3facd1;
}

@layer base {
    //* {
    //    @apply text-content;
    //}
    body {
        @apply bg-background transition-colors duration-300 ease-in-out text-content;
    }

    .container {
        @apply mx-auto px-8;
    }

    .content-gap {
        @apply gap-6;
    }

    .menu-gap-x {
        @apply gap-6;
    }

    .menu-gap-y {
        @apply gap-2;
    }

    .title-gap-y {
        @apply gap-3;
    }

    .title-1 {
        @apply font-bold;
        font-size: 3.75rem;
    }

    .title-2 {
        @apply font-bold;
        font-size: 3rem;
    }

    .title-3 {
        @apply font-bold;
        font-size: 2.25rem;
    }

    .title-4 {
        @apply font-bold;
        font-size: 1.875rem;
    }

    .title-5 {
        @apply font-bold;
        font-size: 1.5rem;
    }

    .section-margin {
        @apply mt-8;
    }

    main > header {
        @apply pt-11;
    }

}
