@use 'tailwindcss' as *;
/* Import Tailwind */

//@use 'tailwindcss/base';       /* Reference base styles */
//@use 'tailwindcss/components'; /* Reference component styles */
@use 'tailwindcss/utilities';

@config "../../tailwind.config.js";

@layer utilities {
    html {
        scroll-behavior: smooth !important;
    }

    :root {
        --sidebar-width: calc(var(--spacing) * 72);

        --cx-primary: #2596be;
        --cx-primary-light: #effafc;
        --cx-primary-mid: #B9E6FE;
        --cx-danger-light: #DA3E521A;
        --cx-danger-strong: #ea2f2f;
        --cx-danger-mid: #DA3E52;
        --cx-slate-light: #D0D5DD;
        --cx-primary-light-border: #9ad8e9;
        --cx-primary-dark: #165a72;
        --cx-secondary: #3facd1;
        --cx-dark: #667085;
        --cx-light: #667085;
        --cx-accent: #165a72;

        --cx-blue-eye-color: #b1e2f0;

        --cx-content: #101828;
        --cx-content-highlight: #ccf4ff;
        --cx-content-gray-persist: #667085;
        --cx-content-light-gray-persist: #adb3be;
        --cx-content-black-persist: #101828;
        --cx-content-light: #eaecf0;
        --cx-content-yellow: #96bb01;
        --cx-content-pink: #f92672;
        --cx-content-dark: #101828;
        --cx-intro-gradient-1: #066384;
        --cx-intro-gradient-2: #4fadce;

        --cx-background: #ffffff;
        --cx-background-darker: #f9fafb;
        --cx-background-lighter: #F9FAFB;
        --cx-background-light: #667085;
        --cx-background-json: #1a1b2e;
        --cx-background-gradient-1-light: #3facd1;
        --cx-background-gradient-2-light: #2596be;
        --cx-background-gradient-1-dark: #1b2230;
        --cx-background-gradient-2-dark: #475467;
        --cx-background-dashboard-menu: #EFFAFC;
        --cx-active-dashboard-menu: #F9FAFB;

        --cx-border-color: #667085;
        --cx-border-color-dark: #ffffff;
        --cx-border-secondary-color: #d0d5dd;
        --cx-border-dark-light: #cbced4;

        --cx--border-chip-color: #9ad8e9;

        --bg-accent-color: #3facd1;
        --cx-accent-secondary: #a23b72;
        --bg-error-primary-color: #dc2626;
        --bg-error-secondary-color: #ef4444;
        --bg-warning-primary-color: #ee8434;
        --content-primary-color: #182230;
        --content-hover-color: #101828;
        --content-error-primary-color: #dc2626;
        --content-error-secondary-color: #ef4444;
        --content-error-light: #fee2e2;
        --content-error-light-border: #fcc5c5;
        --content-success-light: #e0ffef;
        --content-success-light-border: #b8e6cf;
        --success-gradient-color-2: #16b364;
        --success-gradient-color-1: #0a4d2b;
        --border-primary-color: #182230;
        --bg-light-persist: #ffffff;
        --cx-tooltip-background: #101828cc;
        --cx-slate: #abb7c2;

        --cx-display-xs: 1.5rem;
        --cx-display-sm: 1.875rem;
        --cx-display-md: 2rem;
        --cx-display-lg: 2.25rem;
        --cx-display-xl: 3rem;
        --cx-display-2xl: 3.75rem;

        --cx-display-weight: 700;
    }

    [data-theme='dark'] {
        --cx-primary: #2596be;
        --cx-primary-light: #effafc;
        --cx-primary-light-border: #5a9aa7;
        --cx-primary-dark: #165a72;
        --cx-secondary: #000000;
        --cx-light: #667085;
        --cx-dark: #667085;
        --cx-accent: #8cdefa;

        --cx-blue-eye-color: #b1e2f0;

        --cx-content: #ffffff;
        --cx-content-highlight: #ccf4ff;
        --cx-content-light: #f2f2f2;
        --cx-content-dark: #ffffff;
        --cx-intro-gradient-1: #066384;
        --cx-intro-gradient-2: #4fadce;
        --cx-background: #101828;
        --cx-background-darker: #000000;
        --cx-background-lighter: #374151;
        --cx-background-light: #ffffff;
        --cx-background-json: #1a1b2e;
        --cx-background-gradient-3-light: #066384;
        --cx-background-gradient-2-light: #2596be;
        --cx-background-gradient-1-light: #8cdefa;
        --cx-background-gradient-3-dark: #101828;
        --cx-background-gradient-2-dark: #1b2230;
        --cx-background-gradient-1-dark: #475467;
        --cx-background-dashboard-menu: #374151;
        --cx-active-dashboard-menu: #101828;

        --cx-border-color: #667085;
        --cx-border-color-dark: #000000;
        --cx-border-dark-light: #cbced4;

        --bg-secondary-color: #374151;
        --bg-accent-color: #3facd1;
        --bg-error-primary-color: #dc2626;
        --bg-error-secondary-color: #ef4444;
        --bg-warning-primary-color: #ee8434;
        --content-hover-color: #ffffff;
        --content-error-primary-color: #dc2626;
        --content-error-secondary-color: #ef4444;
        --content-error-light: #fee2e2;
        --cx-content-yellow: #96bb01;
        --cx-content-pink: #f92672;
        --content-error-light-border: #f99c9c;
        --content-success-color: #4ade80;
        --content-success-light: #e0ffef;
        --content-success-light-border: #6dcf97;
        --border-primary-color: #667085;
        --border-secondary-color: #3facd1;
        --bg-light-persist: #ffffff;
        --cx-tooltip-background: #667085;
    }

    [data-theme='voltaire'] {
        --cx-primary: #2596be;
        --cx-primary-light: #effafc;
        --cx-primary-light-border: #78b6c2;
        --cx-primary-dark: #165a72;
        --cx-secondary: #000000;
        --cx-light: #667085;
        --cx-dark: #667085;
        --cx-accent: #1f2d3d;

        --cx-blue-eye-color: #b1e2f0;

        --cx-content: #101828;
        --cx-content-highlight: #ccf4ff;
        --cx-content-light: #f2f2f2;
        --cx-content-dark: #111928;
        --cx-intro-gradient-1: #0033ad;
        --cx-intro-gradient-2: #4fadce;
        --cx-background: #e9efff;
        --cx-background-darker: #0033ad;
        --cx-background-gradient-1-dark: #0033ad;
        --cx-background-gradient-2-dark: #0033ad;
        --cx-background-lighter: #b1e3f1;
        --cx-background-light: #ffffff;
        --cx-background-json: #1a1b2e;
        --cx-border-color: #2596be;
        --cx-border-color-dark: #e9efff;
        --cx-border-dark-light: #cbced4;
        --cx-background-dashboard-menu: #b1e3f1;
        --cx-active-dashboard-menu: #e9efff;

        --bg-light-persist: #ffffff;
        --cx-tooltip-background: #101828cc;

        --bg-accent-color: #3facd1;
        --bg-error-primary-color: #dc2626;
        --bg-error-secondary-color: #ef4444;
        --bg-warning-primary-color: #ee8434;
        --content-hover-color: #ffffff;
        --content-error-primary-color: #dc2626;
        --content-error-secondary-color: #ef4444;
        --content-error-light: #fee2e2;
        --cx-content-yellow: #96bb01;
        --cx-content-pink: #f92672;
        --content-error-light-border: #fbb6b6;
        --content-success-color: #4ade80;
        --content-success-light: #9debba;
        --content-success-light-border: #7dcca2;
        --content-success-darker: #06c710;
        --border-primary-color: #b1e3f1;
        --border-secondary-color: #3facd1;
    }

    .bg-background {
        background-color: var(--cx-background);
    }

    .bg-background-lighter {
        background-color: var(--cx-background-lighter);
    }

    .bg-background-json {
        background-color: var(--cx-background-json);
    }

    .text-content {
        color: var(--cx-content);
    }

    .text-content-light {
        color: var(--cx-content-light);
    }

    .text-primary {
        color: var(--cx-primary);
    }

    // Example of custom Tailwind utilities
    .text-accent {
        color: var(--cx-accent);
    }

    .text-slate {
        color: var(--cx-slate);
    }

    .link-primary {
        color: var(--cx-primary);

        &:hover {
            color: var(--cx-accent);
        }
    }

    .text-json-key {
        color: var(--cx-content-pink);
    }

    .text-json-string {
        color: var(--cx-content-yellow);
    }

    .scrollbar-thin::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        background-color: #667085;
        opacity: 50;
    }

    .scrollbar-thick::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .fill-success-light {
        fill: var(--content-success-light);
    }

    .fill-primary-light {
        fill: var(--cx-primary-light);
    }

    .stroke-success-border {
        stroke: var(--content-success-light-border);
    }

    .stroke-primary-border {
        stroke: var(--cx-primary-light-border);
    }

    .stroke-error-border {
        stroke: var(--content-error-light-border);
    }

    .border-dark-light {
        border-color: var(--cx-border-dark-light);
    }

    .steps-list-wrapper {
        ol {
            list-style-type: decimal;

            li {
                margin-bottom: 0.5rem;
            }

            +ul {
                list-style-type: disc;
                padding-left: 1.25rem;

                li {
                    margin-bottom: 0.4rem;
                }
            }
        }
    }

    .im-dialog {
        width: 100vw !important;
        height: 100vh !important;
        z-index: 50 !important;
        position: fixed !important;
    }

    .im-backdrop {
        background-color: var(--cx-dark) !important;
        opacity: 0.5 !important;
    }

    .im-slideover-wrapper {
        max-width: 90vw !important;
    }
}

@layer base {
    *::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.6rem;
    }

    *::-webkit-scrollbar-track {
        background: var(--cx-background);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--cx-background-light);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--bg-accent-color);
    }

    #main-content>header:first-child {
        @apply py-6;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body {
        @apply bg-background text-content transition-colors duration-300 ease-in-out;
    }

    .container {
        @apply mx-auto px-8;
    }

    .content-gap {
        @apply gap-6;
    }

    .menu-gap-x {
        @apply gap-3;
    }

    .menu-gap-y {
        @apply gap-2;
    }

    .title-gap-y {
        @apply gap-3;
    }

    .title-1 {
        @apply text-cx-display-2xl;
    }

    .title-2 {
        @apply text-cx-display-xl;
    }

    .title-3 {
        @apply text-cx-display-lg;
    }

    .title-4 {
        @apply text-cx-display-md;
    }

    .title-5 {
        @apply text-cx-display-sm;
    }

    .title-6 {
        @apply text-cx-display-xs;
    }

    .text-1 {
        @apply text-xl;
    }

    .text-2 {
        @apply text-lg;
    }

    .text-3 {
        @apply text-md;
    }

    .text-4 {
        @apply text-sm;
    }

    .text-5 {
        @apply text-xs;
    }

    .section-margin {
        @apply mt-8;
    }

    article {
        p~ {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                @apply mt-3 mb-1 font-bold;
            }
        }

        h3 {
            @apply text-2xl;
        }
    }
}

.page {
    &.page-campaign {
        .card {
            .card-campaign {

                .card-summary,
                .card-title {
                    @apply hidden;
                }
            }
        }
    }
}

.scrollable {
    grid-auto-flow: column;
    grid-auto-columns: 66.67%;
    overscroll-behavior-inline: contain;
    will-change: scroll-position;
    scroll-behavior: smooth;
    @apply grid overflow-x-auto pb-5;
}

@media (min-width: 1124px) {
    .scrollable {
        grid-auto-columns: 36%;
    }
}

@media (min-width: 1536px) {
    .scrollable {
        grid-auto-columns: 30%;
    }
}

.snaps-scrollable {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1.5rem;
}

.snaps-scrollable>* {
    scroll-snap-align: start;
}

.proposal-card .proposal-solution img {
    @apply hidden;
}
