
replicaCount: 1

namespace: catalystexplorer-preview

image:
  repository: registry.lidonation.com/lidonation/www.catalystexplorer.com/web-app
  tag: 'latest'
  pullPolicy: IfNotPresent
  pullSecret:  gitlab-registry-catalystexplorer

services:
  app:
    replicaCount: 1
    environment: 'preview'
    POSTGRESQL_WEB_DB_HOST: 
    storageClass: longhorn
    image:
      repository: registry.lidonation.com/lidonation/www.catalystexplorer.com/web-app
      tag: latest
      pullPolicy: IfNotPresent
      pullSecret:  gitlab-registry-catalystexplorer-www-catalystexplorer-com
    persistence:
      size: 40Gi
      storageClass: longhorn
      accessMode: ReadWriteMany
      subPath: "uploads"
      mountPath: "/var/www/storage/app"
  db:
    monitoring: true
    bootstrap:
      database:
        database: explorerweb
        owner: catalystexplorer
      migration:
        enabled: false
        sourceHost: cx-web-db-postgresql-ha-pgpool
        sourcePort: 5432
        sourceUser: catalystexplorer
        sourceDatabase: explorerweb
      secrets:
        ACCESS_KEY_ID: catalystexplorer
        DB_USERNAME: catalystexplorer
        DB_PASSWORD:
        DEFAULT_REGION: us-east-1
        POSTGRES_USER: postgres
        POSTGRES_USER_PASSWORD:
        SECRET_ACCESS_KEY:
  queue:
    replicaCount: 1
  meili:
    MEILISEARCH_KEY: 
    persistence:
      size: 320Gi
      storageClass: longhorn
  redis:
    password: 
    host: redis-headless
    
