
replicaCount: 1

namespace: catalystexplorer-preview

image:
  repository: registry.lidonation.com/lidonation/www.catalystexplorer.com/web-app
  tag: 'latest'
  pullPolicy: IfNotPresent
  pullSecret:  gitlab-registry-catalystexplorer

services:
  app:
    replicaCount: 1
    environment: 'preview'
    POSTGRESQL_WEB_DB_HOST: 
    storageClass: longhorn
    image:
      repository: registry.lidonation.com/lidonation/www.catalystexplorer.com/web-app
      tag: latest
      pullPolicy: IfNotPresent
      pullSecret:  gitlab-registry-catalystexplorer-www-catalystexplorer-com
    persistence:
      size: 40Gi
      storageClass: longhorn
      accessMode: ReadWriteMany
      subPath: "uploads"
      mountPath: "/var/www/storage/app"
  db:
    monitoring:
      enabled: true
    bootstrap:
      database:
        database: explorerweb
        owner: catalystexplorer
      enablePgvector: true
    migration:
      enabled: false
      sourceHost: cx-web-db-postgresql-ha-pgpool
      sourcePort: 5432
      sourceUser: postgres
      sourcePassword:
      sourceDatabase: explorerweb
    secrets:
      DB_NAME: catalystexplorer
      DB_USERNAME: explorerdbuser
      DB_PASSWORD:
      DEFAULT_REGION: us-east-1
      POSTGRES_USER: postgres
      POSTGRES_USER_PASSWORD:
  queue:
    replicaCount: 1
  ollama:
    persistence:
      size: 20Gb
  meili:
    MEILISEARCH_KEY:
    persistence:
      size: 320Gi
      storageClass: longhorn
  redis:
    password: 
    host: redis-headless

backup:
  schedule:
    cron: "0 2 * * *"  # Daily at 2am
