openapi: 3.0.3
info:
  title: CatalystExplorer API
  description: Comprehensive API for exploring Project Catalyst proposals, funding data, and community insights.
  version: 1.0.0
  contact:
    name: CatalystExplorer Team
    url: https://www.catalystexplorer.com
    email: support@catalystexplorer.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://www.catalystexplorer.com/api
    description: Production server
  - url: https://catalystexplorer.local/api
    description: Local development server

paths:
  /v1/proposals:
    get:
      tags:
        - Proposals
      summary: List proposals
      description: Retrieve a paginated list of Project Catalyst proposals with advanced filtering, sorting, and relationship includes.
      operationId: listProposals
      parameters:
        - name: page
          in: query
          description: The page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - name: per_page
          in: query
          description: Number of proposals per page (max 60)
          required: false
          schema:
            type: integer
            maximum: 60
            example: 24
        - name: filter[status]
          in: query
          description: Filter by proposal status
          required: false
          schema:
            type: string
            example: funded
        - name: filter[fund_id]
          in: query
          description: Filter by fund ID
          required: false
          schema:
            type: integer
            example: 12
        - name: include
          in: query
          description: Comma-separated list of relationships to include
          required: false
          schema:
            type: string
            example: "campaign,fund,team"
        - name: sort
          in: query
          description: Comma-separated list of fields to sort by. Prefix with - for descending order
          required: false
          schema:
            type: string
            example: "-created_at,title"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

  /v1/proposals/{id}:
    get:
      tags:
        - Proposals
      summary: Get proposal details
      description: Retrieve detailed information about a specific proposal including optional related data.
      operationId: getProposal
      parameters:
        - name: id
          in: path
          description: The proposal ID
          required: true
          schema:
            type: integer
            example: 123
        - name: include
          in: query
          description: Comma-separated list of relationships to include
          required: false
          schema:
            type: string
            example: "campaign,fund,team"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Proposal'
        '404':
          description: Proposal not found

  /v1/funds:
    get:
      tags:
        - Funds & Campaigns
      summary: List funds
      description: Retrieve a paginated list of Project Catalyst funding rounds with filtering, sorting, and relationship includes.
      operationId: listFunds
      parameters:
        - name: page
          in: query
          description: The page number for pagination
          required: false
          schema:
            type: integer
            example: 1
        - name: per_page
          in: query
          description: Number of funds per page (max 60)
          required: false
          schema:
            type: integer
            maximum: 60
            example: 24
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fund'
                  links:
                    $ref: '#/components/schemas/PaginationLinks'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'

components:
  schemas:
    Proposal:
      type: object
      properties:
        id:
          type: integer
          example: 123
        title:
          type: object
          properties:
            en:
              type: string
              example: "DeFi Protocol Development"
        status:
          type: string
          example: "funded"
        amount_requested:
          type: integer
          description: Amount requested in ADA lovelace
          example: 50000000
        amount_received:
          type: integer
          description: Amount received in ADA lovelace
          example: 45000000
        funded_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        yes_votes_count:
          type: integer
          example: 250
        no_votes_count:
          type: integer
          example: 15
        created_at:
          type: string
          format: date-time
          example: "2023-12-01T09:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    Fund:
      type: object
      properties:
        id:
          type: integer
          example: 12
        title:
          type: string
          example: "Fund 12"
        status:
          type: string
          example: "completed"
        amount:
          type: integer
          description: Fund amount in ADA lovelace
          example: 50000000000
        currency:
          type: string
          example: "ADA"
        launched_at:
          type: string
          format: date-time
          example: "2024-01-15T00:00:00Z"
        proposals_count:
          type: integer
          example: 420
        funded_proposals_count:
          type: integer
          example: 89

    PaginationLinks:
      type: object
      properties:
        first:
          type: string
          example: "https://api.catalystexplorer.com/api/v1/proposals?page=1"
        last:
          type: string
          example: "https://api.catalystexplorer.com/api/v1/proposals?page=10"
        prev:
          type: string
          nullable: true
          example: null
        next:
          type: string
          example: "https://api.catalystexplorer.com/api/v1/proposals?page=2"

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 24
        total:
          type: integer
          example: 240

tags:
  - name: Proposals
    description: APIs for managing and retrieving Project Catalyst proposals
  - name: Funds & Campaigns
    description: APIs for managing and retrieving Project Catalyst funding rounds and campaigns